/*COMMAND CONTAINER -------------------------------------*/
#panier_command_container .command{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 50%;
    padding: 3% 0 3% 0;
    z-index: 3;
    position: relative;
    background-color: rgba(255,255,255,1);
}
/*TITLE OF COMMAND ---------------------------------- */
#panier_command_container .command p.title{
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0 0 1px black;
    margin-bottom: 2%;
}
/*EXIT'S COMMAND ------------------------------------ */
#panier_command_container .command .exit{
    position: absolute;
    font-size: 1.5em;
    top: 5px;
    right: 5px;
    transition: 0.5s;
    padding: 5px;
}
#panier_command_container .command .exit:hover{
    transform: rotate(180deg);
    font-weight: bold;
    cursor: pointer;
}
/*INFOS ---------------------------------------------------- */
#panier_command_container .command .infos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 70%;
}
#panier_command_container .command .infos div{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#panier_command_container .command .infos .phone input{
    text-align: center;
}
/* BUTTONS ---------------------------------------------------------------------- */
#panier_command_container .command .btns{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#panier_command_container .command .btns button{
    border: none;
    outline: none;
    background-color: #3b353a;
    color: #E8DFD8;
    padding: 10px;
}
#panier_command_container .command .btns button:hover{
    cursor: pointer;
}
/* ALERT COMMAND VALIDATED && CONNEXION --------------------------------------------------*/
#panier_command_container .alert_not_user{
    position: absolute;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2b2b2b;
    color: #E8DFD8;
    z-index: 5;
    padding: 20px 10px 0 10px;
    transform: translateX(-350%);
}
#panier_command_container .outer_alert_not_user, #panier_command_container .outer_alert_command_validated{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 4;
    opacity: 0.1;
    display: none;
}
#panier_command_container .alert_not_user p{
    font-weight: bold;
    /*font-size: 1.5em;*/
}
#panier_command_container .alert_not_user button{
    border: none;
    outline: none;
    background-color: #E8DFD8;
    color: #3b353a;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
}
#panier_command_container .alert_not_user button:hover{
    cursor: pointer;
}
#panier_command_container .alert_command_validated{
    position: absolute;
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2b2b2b;
    color: #E8DFD8;
    z-index: 5;
    padding: 20px 10px 0 10px;
    transform: translateX(-350%);
}
#panier_command_container .alert_command_validated p{
    font-size: 0.9em;
}
/*TREATMENT ---------------------------------------------------------------- */
.alert{
    animation: alert_animate 1s 3 forwards;
}
@keyframes alert_animate {
    0%{background-color: #E8DFD8; color: black}
    50%{background-color: darkred; color: #E8DFD8}
    100%{background-color: #E8DFD8; color: black}
}
.alert_display{
    animation: alert_display_animate 0.5s forwards;
}
@keyframes alert_display_animate {
    0%{transform: translateX(-350%)}
    100%{transform: translateX(0)}
}
.alert_hide{
    animation: alert_hide_animate 0.5s forwards;
}
@keyframes alert_hide_animate {
    0%{transform: translateX(0)}
    100%{transform: translateX(350%)}
}
.div_pause{
    pointer-events: none;
    opacity: 0.6;
}