#navBar{
    position: fixed;
    top: 9vh;
    width: 10vw;
    height: 90vh;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
	transition: 0.3s;
    left: -9vw;
    z-index: 1;
}
#navBar *{
    padding: revert;
    font-size: 0.95em;
}
/* NAVIGATION TITLE*/
#navBar p.navigation{
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
}
/* BUTTON  ------------------------------------ */
#navBar span.btn{
    position: absolute;
    right: -20px;
    font-size: 1.5em;
    background-color: rgba(0,0,0,0.8);
    color: #E8DFD8;
    border-radius: 50%;
    padding: 5px;
    transition: 0.5s;
    outline: none;
}
#navBar span.btn:hover{
    cursor: pointer;
}
/* ELEMENTS ---------------------------------------- */
#navBar ul{
    list-style-type:none;
}
#navBar ul#nav-clothes{
    transform: translateX(-15%);
}
#navBar ul#nav-tissue{
    transform: translateX(-50%);
}
#navBar ul#nav-footer{
    transform: translateX(-15%);
}
#navBar #nav-clothes-sexe{
    margin: 15px 0 15px 0;
}
#navBar .li:hover{
    cursor: pointer;
    font-weight: bold;
}
#navBar #nav-clothes li.title{
    pointer-events: none;
}
/* TREATMENT ------------------------------------------ */
.navBar_show{
	transform: translateX(9vw);
}
.rotate_arrow{
    transform: rotateZ(-180deg) translateX(5px);
}
.li_choose{
    font-weight: bold;
}